In [2]:
import pandas as pd
df_c = pd.read_csv('./000_Card_Spending.csv')
df_c.pivot_table(index=['소비처업종','사용카드'],values='사용횟수',aggfunc='sum').sort_values(by='사용횟수',ascending=False).head()

              사용횟수
소비처업종 사용카드
유통업   218   677696
      216   662526
      219   650280
      214   642819
      217   642541

In [3]:
df_c['label']= 1

In [2]:
df_c.pivot_table(index=['소비처업종','사용카드'],values='label',aggfunc='sum').sort_values(by='label',ascending=False)

NameError: name 'df_c' is not defined

In [6]:
df_c_rank = df_c.pivot_table(index=['소비처업종','사용카드'],values='label',aggfunc='sum').reset_index()

In [7]:
input_data = input('소비처 업종 입력 : ')
cond1 = df_c_rank['소비처업종']==input_data
df_c_rank.loc[cond1].sort_values(by='label',ascending=False)

소비처 업종 입력 : 가구

    소비처업종  사용카드  label
62     가구   147      9
40     가구   124      6
66     가구   152      6
96     가구   189      6
49     가구   134      6
..    ...   ...    ...
84     가구   173      1
86     가구   177      1
89     가구   181      1
91     가구   184      1
134    가구   246      1

[135 rows x 3 columns]