# 1. 기술통계

In [2]:
import numpy as np
from scipy import stats
import scipy.stats
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.stats.proportion import proportions_ztest

In [3]:
# 1) 자동처 연비 Data Set에서 기술통계치 구하기
# mycars 데이터 가져오기(데이터 경로 확인: mycars.csv)
ds_mycars=pd.read_csv("C:\\Users\\Administrator\\Untitled Folder\\statistics_1day/mycars.csv", engine="python")
ds_mycars.head()

,manufacturer,model,displacement,year,cylinder,automatic,driving,mpg,highway_mileage,fuel,class
0,audi,a4,1.8,1999,4,auto,f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual,f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual,f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto,f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto,f,16,26,p,compact

In [4]:
# 요약통계량
ds_mycars.describe(include='all').round(3)

,manufacturer,model,displacement,year,cylinder,automatic,driving,mpg,highway_mileage,fuel,class
count,234,234,234.000,234.00,234.000,234,234,234.000,234.000,234,234
unique,15,38,NaN,NaN,NaN,2,3,NaN,NaN,5,7
top,dodge,caravan 2wd,NaN,NaN,NaN,auto,f,NaN,NaN,r,suv
freq,37,11,NaN,NaN,NaN,157,106,NaN,NaN,168,62
mean,NaN,NaN,3.472,2003.50,5.889,NaN,NaN,16.859,23.440,NaN,NaN
std,NaN,NaN,1.292,4.51,1.612,NaN,NaN,4.256,5.955,NaN,NaN
min,NaN,NaN,1.600,1999.00,4.000,NaN,NaN,9.000,12.000,NaN,NaN
25%,NaN,NaN,2.400,1999.00,4.000,NaN,NaN,14.000,18.000,NaN,NaN
50%,NaN,NaN,3.300,2003.50,6.000,NaN,NaN,17.000,24.000,NaN,NaN
75%,NaN,NaN,4.600,2008.00,8.000,NaN,NaN,19.000,27.000,NaN,NaN
max,NaN,NaN,7.000,2008.00,8.000,NaN,NaN,35.000,44.000,NaN,NaN

In [5]:
# 자동차 모델별, mpg 데이터 subset
df=ds_mycars[['model', 'mpg']]
# 모델 별 데이터 수 평균 표준편차
df.groupby('mpg').describe()

    model
    count unique                  top freq
mpg
9       5      4  ram 1500 pickup 4wd    2
11     20     12  ram 1500 pickup 4wd    3
12      8      6  ram 1500 pickup 4wd    2
13     21      9      f150 pickup 4wd    4
14     19     10    dakota pickup 4wd    4
15     24     11              mustang    4
16     19     12          caravan 2wd    4
17     16     12          caravan 2wd    3
18     26     12               sonata    4
19     20     13          impreza awd    4
20     11      6          impreza awd    3
21     23     11                jetta    4
22      4      4         camry solara    1
23      3      2               altima    2
24      5      2                civic    3
25      2      1                civic    2
26      3      2              corolla    2
28      2      2                civic    1
29      1      1           new beetle    1
33      1      1                jetta    1
35      1      1           new beetle    1

In [6]:
# 2) 제품의 품질을 조사하여, cabbage 결함과 결함이 발생한 기간을 조사한 table입니다.
# 범주형 데이터에 대해, counts, percents, cumulative counts, cumulative percents 계산 바랍니다.

# Exh_QC1 데이터 가져오기
ds_Exh_QC1= pd.read_csv("C:\\Users\\Administrator\\Untitled Folder\\statistics_1day/Exh_QC1.csv", engine="python")
df=ds_Exh_QC1[['Flaws', 'Period']]

# Flaws변수 Count: value_count, 순서대로 정렬: sort_index
count=df['Flaws'].value_counts().sort_index()

# CumCnt 계산: cumsum
cumcnt=np.cumsum(count)
# Percent 계산: 직접
percent=count/sum(count)*100
# CumPct 계산: cumsum
cumpct=np.cumsum(percent)
# DataFrame으로 취합
count_data=pd.DataFrame({'Count':count, 'CumCnt':cumcnt, 'Percent':percent, 'CumPct:':cumpct})
# Column의 name(좌측상단 이름) 생성
count_data.columns.name='Flaws'
count_data

Flaws    Count  CumCnt  Percent  CumPct:
Other        6       6     15.0     15.0
Peel        15      21     37.5     52.5
Scratch     13      34     32.5     85.0
Smudge       6      40     15.0    100.0

In [7]:
# Period 변수 Count: value_count, 순서대로 정렬: sort_index
count2=df['Period'].value_counts().sort_index()
# CumCnt 계산: cumsum
cumcnt2=np.cumsum(count2)
# percent 계산: 직접
percent2=count2/sum(count2)*100
# CumPct 계산: cumsum
cumpct2=np.cumsum(percent2)
# DataFrame으로 취합
count_data2=pd.DataFrame({'Count':count2, 'CumCnt':cumcnt2, 'Percent':percent2, 'CumPct:':cumpct2})
# Column의 name(좌측상단 이름) 생성
count_data2.columns.name='Period'
count_data2

Period   Count  CumCnt  Percent  CumPct:
Day          7       7     17.5     17.5
Evening      7      14     17.5     35.0
Night       19      33     47.5     82.5
Weekend      7      40     17.5    100.0

# 2. 확률분포

In [9]:
import numpy as np
from scipy import stats
import scipy.stats
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.stats.proportion import proportions_ztest

## 1) 정규분포의 확률계산
### A/S 작업을 수행하는데 걸리는 시간을 측정해 본 결과 평균 115분, 표준편차 20분이 소요된다는 것을 알았음. 
### 만일 A/S 작업시간의 허용범위가 135분 이내라면 135분 이상 걸리는 A/S 작업 비율은 어느 정도일까요?

In [10]:
# 누적확률 값 계산
# 모집단 평균
mu=115
# 모집단 표준편차
sigma=20
# 구하고자 하는 확률밀도함수값
x=135
prob=stats.norm.cdf(x, mu, sigma)
print("{0}분 이상 걸리는 A/S 작업 비율: {1:.1f}%".format(x, (1-prob)*100))

135분 이상 걸리는 A/S 작업 비율: 15.9%

### 대한민국 남성의 20~30대 키를 측정한 결과, 평균 175cm, 표준편차 5cm이다. 
### 나의 키가 180cm일 경우에 나는 몇 % 범위에 위치할까요?

In [13]:
# 누적확률 값 계산
mu=175
# 모집단 표준편차
sigma=5
# 구하고자 하는 확률밀도함수값
x=180
prob=stats.norm.cdf(x, mu, sigma)
print(prob*100)

84.1344746068543

### 어떤 자동차 1리터당 주행거리가 평균 12km, 표준편차 3km인 정규분포를 이룬다고 하자.
### 1) 1리터를 가지고 12km 이상 15km 이하를 달릴 확률은 얼마인가요?
### 2) 1리터를 가지고 15km 이상을 달릴 확률은 얼마인가요?

In [14]:
# 모집단 평균
mu=12
# 모집단 표준편차
sigma=3
# 구하고자 하는 확률밀도함수값
x0=9
x1=15
# prob1 : 누적확률 15이하 값 계산
# cdf : Cumulative Distribution Function, 누적 분포 함수
prob1=stats.norm.cdf(x1, mu, sigma)
prob2=stats.norm.cdf(x0, mu, sigma)
print("{0}km 이상 {1}km 이하를 달릴 확률은 {2:.3f}에 해당함".format(x0, x1, (prob1-prob2)))
print("{0}km 이상을 달릴 확률은 {1:.3f}에 해당함".format(x1, (1-prob1)))
# 확률인지 비율인지 확실히 확인할 것 ! 비율이면 *100 후 %

9km 이상 15km 이하를 달릴 확률은 0.683에 해당함
15km 이상을 달릴 확률은 0.159에 해당함

## 2) t분포 -> 모집단의 평균 추정, 검정. 모집단의 특성을 알 때 정규분포, 특성을 모를 때 t분포

### 확률변수 t는 자유도가 100인 t-분포를 따른다. t값이 2.0일 때, P(T<=t)을 계산하시오

In [17]:
# 확률변수
t=1.53
# 자유도
df=100
# 누적확률 값 계산
prob=stats.t.cdf(t, df)
# P는 확률밀도값
print("P(T<=F):{:.3f}".format(prob))

P(T<=F):0.935

## 3) 카이제곱(x^2) 분포 -> 모집단 분산 추정. 크기가 n인 표본을 무작위로 반복하여 추출
## 빈도 기반의 분포 또는 형태 적합도 검정(선호도 검사), 여러 집단 간의 독립성/동질성 검정

### 확률변수 x^2는 자유도가 8인 x^2(카이제곱) 분포를 따른다. x^2값이 3.0일 때, P(X<=x^2)을 계산하시오.

In [18]:
# 카이스퀘어 값
chisq=3
# 자유도
df=8
# 누적확률 계산
prob=stats.chi2.cdf(chisq, df)
# P= 확률밀도값
print("P<={0} : {1:.4f}".format(chisq,prob))

P<=3 : 0.0656

## 4) f분포 -> 분산이 같은 두 정규모집단으로부터 크기 n1과 n2의 확률표본을 반복하여 
## 독립적으로 추출한 후, 구한 두 표본분산의 비율들의 표본분포
## 즉, 두 집단의 분산비를 구할 떄 활용
## ANOVA에서는 그룹 내 변동과 그룹간 변동으로 여러 개의 평균값을 비교하는데 활용
## 회귀분석에서 t분포는 개별 회귀계수의 유의성을 검정하는데 쓰이고, 회귀모형 자체의 유의성 검정
## t분포를 제곱하면 F분포를 하게 된다

### 확률변수 F는 각각 자유도가 15, 15인 F-분포를 따른다. F값이 2.0일 때, P(X<=F)을 계산하시오.

In [22]:
# f분포
f=2.0
# 자유도
dfnum=15
dfden=15
# 누적확률 값 계산
prob=stats.f.cdf(x=f, dfn=dfnum, dfd=dfden)
print("P(T<=F): {:.3f}".format(prob))

# 분산2가 분산1의 2배가 되는 지점까지의 누적확률

P(T<=F): 0.904

## 5) 와이블 분포 -> 지수분포를 보다 일반화시켜, 여러 다양한 확률분포 형태를 모두 나타낼 수 있도록 고안
## 특히 신뢰성 분야의 응용에서 자주 사용됨, 부품의 고장까지의 시간 혹은 수명 등...

### 어떤 제품의 수명시간 x가 형상모수 2.2, 척도모수 1,200인 와이블 분포를 따른다고 할 때, 
### 이 제품이 적어도 1,500시간 이상 작동할 확률을 구하라

In [27]:
# 구하고자 하는 수명시간
x=1500
# 형상모수
alpha=2.2
# 척도모수
beta=1200

prob=stats.weibull_min.cdf(x, alpha, scale=beta)
print("P(X<=x):{:.3f}".format(1-prob))

P(X<=x):0.195

## 6) 베르누이 -> 1번 실행

## 7) 이항분포 -> 베르누이를 n번 시행

### 도장공정에서 광택도 불량이 40%나 된다고 함
### 3대의 차량을 임의로 선택했을 때 불량대수가 각각 0,1,2,3대가 나올 확률은 얼마인가요?

In [28]:
# n의 수
n=3
for i in range(n+1):
    # 이항분포 Probability Mass Function
    # k = 구하고자 하는 경우의 수의 확률
    # n = 표본 수
    # p = 불량율
    prob = stats.binom.pmf(k=i, n=n, p=0.4)
    print("P(X={0})={1:.3f}".format(i, prob))

P(X=0)=0.216
P(X=1)=0.432
P(X=2)=0.288
P(X=3)=0.064

## 8) 포아송 분포 -> 일정한 시간 또는 일정한 공간에서 발생하는 성공횟수에 대한 이산확률분포
## 쉽게 말하면 일정 시간/공간에서의 사건 발생 확률 예측. 연속형에서 못씀

### 어느 전화 교환대에는 1분당 평균 2회의 전화가 걸려 온다고 한다. 전화의 도착 횟수가 포아송 분포를 따른다면
### - 이 교환대에 1분당 3번의 전화가 걸려올 확률은?
### - 이 교환대에 1분당 최대 2회 이하의 전화가 걸려올 확률은?

In [31]:
# 모집단 평균
mu=2

prob=stats.poisson.pmf(3, mu)

cdf_prob=stats.poisson.cdf(2, mu)

print("1분당 {0}번의 전화가 걸려올 확률: {1:.3f}".format(3, prob))

print("1분당 최대 {0}번 이하의 전화가 걸려올 확률: {1:.3f}".format(2, cdf_prob))

1분당 3번의 전화가 걸려올 확률: 0.180
1분당 최대 2번 이하의 전화가 걸려올 확률: 0.677

# 3. 표본분포

# 4. 통계적 추론과 검정

## 1) 정규성 검정

### 1. 실습파일 2sample_t_test.csv을 불러온다.
### 2. 변수 Mat_A와 Mat_B에 대해 정규성을 검정합니다.

In [33]:
from statsmodels.stats.proportion import proportions_ztest
# df1=df.dropna()
from scipy.stats import shapiro
ds_sample=pd.read_csv("C:\\Users\\Administrator\\Untitled Folder\\statistics_1day/2sample_t_test.csv", engine = "python")
# dropna는 빈 데이터 삭제
# fillna는 빈 데이터에 값 넣기
ds_sample=ds_sample.dropna()
data1=ds_sample['Mat_A']
# Mat_A 정규성 검정
shapiro(data1)
statistic, p=stats.shapiro(data1)
print("Shapiro-Wilk Test: statistic={0}, p-value={1}".format(statistic, p))

data2=ds_sample['Mat_B']
# Mat_B 정규성 검정
shapiro(data2)
# statistic은 검정 통계량(X값), p = p-value
statistic, p=stats.shapiro(data2)
print("Shapiro-Wilk Test: statistic={0}, p-value={1}".format(statistic, p))

Shapiro-Wilk Test: statistic=0.9062638878822327, p-value=0.25630074739456177
Shapiro-Wilk Test: statistic=0.9729756116867065, p-value=0.9169799089431763

### 모평균 추정(모표준편차 아는 경우)

In [35]:
# df를 직접 입력
df=pd.DataFrame({"sample": [3.6, 2.9, 2.8, 2.6, 3.4, 3.2, 2.2, 2.6, 2.6, 2.4, 2.4, 2.6, 3.4, 2.4, 2.1, 2.6, 3.0, 2.4, 2.7, 2.4, 2.6, 2.9, 2.9, 2.0, 2.7, 2.2, 2.8, 2.7, 1.8, 2.5, 3.0, 3.2, 2.8, 2.6, 3.2, 3.1, 2.9, 2.7, 2.7, 2.2]})
df.head()
# 정규분포 구간 추정 함수 실행
# loc= 표본평균, scale=표쥰오차
lower, upper=stats.norm.interval(0.95, loc=np.mean(df), scale=0.397/np.sqrt(40))
print("신뢰구간: ({0}, {1})".format(lower.round(2), upper.round(2)))

신뢰구간: ([2.57], [2.82])

### 모평균 추정(모표준편차 모르는 경우)

In [37]:
# df를 직접 입력
df=pd.DataFrame({'sample':[54.1, 53.3, 56.1, 55.7, 54.0, 54.1, 54.5, 57.1, 55.2, 53.8, 54.1, 54.1, 56.1, 55.0, 55.9, 56.0, 54.9, 54.3, 53.9, 55.0]})

# 정규분포 구간 추정 함수 실행
# len(df)-1은 자유도, loc=표본평균, scale=표준오차, sem(standard error of mean)=평균표준오차 s/square(n)
lower, upper=stats.t.interval(0.95, len(df)-1, loc=np.mean(df), scale=scipy.stats.sem(df))
print("신뢰구간: ({0}, {1})".format(lower.round(2), upper.round(2)))

신뢰구간: ([54.39], [55.33])

In [ ]:
prop=stats.chi2.ppf(0.05->유의수준, 9->자유도)
prop
prop=stats.norm.ppf(0.25, 10)
shapiro(df1) -> 정규성 검정